/**
 * @file
 * Navigation Styling
 *
 * Default menu styling (ul.menu) is defined in system-menus.css.
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
}

.region-navigation {
}

/*
 * Primary and Secondary menu links
 */
#main-menu {
}

#secondary-menu {
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu_block {
}

/** The Monterrey nav menu **/

#block-menu-menu-monterrey {
    margin: 0em;
    padding: 0em;
}

#block-menu-menu-monterrey ul {
    display block;
    padding: 0em;
    list-style: none;
    margin: 0em;
    margin-top: 20px;
    float: right;
}

#block-menu-menu-monterrey ul li:first-child {
    border: 0px;
}

#block-menu-menu-monterrey ul li {
    border-left: 1px solid #6d6d6d;
    display: inline-block;
    padding: 0.4em 1em;
    margin: 0em;
}

#block-menu-menu-monterrey ul li a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0em;
    text-transform: uppercase;
}

#block-menu-menu-monterrey ul li a:hover {
	color: #6CD5E2;
}

#block-menu-menu-monterrey ul li a .cdhm-nav-icon {
	float: left;
	width: 26px;
	height: 26px;
	font-size: 2px;
	margin-top: -5px;
	margin-right: 5px;
	display: inline-block;
}
#block-menu-menu-monterrey ul li a .cdhm-nav-icon-home,
#block-menu-menu-monterrey ul li a .cdhm-nav-icon-inicio {
    background: url('/sites/vojo.co/themes/cdh_monterrey/images/cdh-mty/nav-icons-small.gif') no-repeat 0px 0px;
}
#block-menu-menu-monterrey ul li a .cdhm-nav-icon-share,
#block-menu-menu-monterrey ul li a .cdhm-nav-icon-cuéntanos {
    background: url('/sites/vojo.co/themes/cdh_monterrey/images/cdh-mty/nav-icons-small.gif') no-repeat -26px 0px;
}
#block-menu-menu-monterrey ul li a .cdhm-nav-icon-reports,
#block-menu-menu-monterrey ul li a .cdhm-nav-icon-crónicas {
    background: url('/sites/vojo.co/themes/cdh_monterrey/images/cdh-mty/nav-icons-small.gif') no-repeat -52px 0px;
}
#block-menu-menu-monterrey ul li a .cdhm-nav-icon-map,
#block-menu-menu-monterrey ul li a .cdhm-nav-icon-mapa {
    background: url('/sites/vojo.co/themes/cdh_monterrey/images/cdh-mty/nav-icons-small.gif') no-repeat -78px 0px;
}
#block-menu-menu-monterrey ul li a .cdhm-nav-icon-downloads,
#block-menu-menu-monterrey ul li a .cdhm-nav-icon-downloads {
    background: url('/sites/vojo.co/themes/cdh_monterrey/images/cdh-mty/nav-icons-small.gif') no-repeat -104px 0px;
}
#block-menu-menu-monterrey ul li a .cdhm-nav-icon-about,
#block-menu-menu-monterrey ul li a .cdhm-nav-icon-nosotros {
    background: url('/sites/vojo.co/themes/cdh_monterrey/images/cdh-mty/nav-icons-small.gif') no-repeat -130px 0px;
}